body {
    /* height: 100vh; */
}
.page-container {
    padding: 0 2rem;
}
.content {
    height: 50%;
}
.messages-list {
    height: 100%;
}
.message-input {
    position: fixed;
    bottom: 0;
    width: inherit;
    display: flex;
    margin: 0 auto;
}
.alert span {
    color: #ff0000;
}

@media (max-width: 300px) {
    .page-container {
        height: 100vh;
        color: #f5f5f5;
    }
    .image img {
        /* display: none; */
        height: 200px;
        width: auto;
    }
    .scrollbar {
        height: inherit;
    }
    .messages-list {
        font-size: 12px;
        color: #000;
    }
    .card-body {
        padding: .7rem;
    }
}

@media (max-width: 740px) {
    .page-container {
        height: 100vh;
        color: #f5f5f5;
    }
    .scrollbar {
        height: inherit;
    }
    .messages-list {
        font-size: 12px;
        color: #000;
    }
    .card-body {
        padding: .7rem;
    }
}

@media (min-width: 740px) {
    body {
        background-image: url("https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .page-container {
        width: 740px;
        margin: 0 auto;
        z-index: 1000;
    }
    .scrollbar {
        height: 40vh;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .scrollbar {
        height: 30vh;
    }
}

@media (min-width: 1024px) {
    .scrollbar {
        height: 30vh;
    }
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ffecd2),
        to(#fcb69f)
    );
    background-image: -webkit-linear-gradient(left, #fbb24c 0%, #fcb69f 100%);
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
